<!doctype html>
<html ng-app="app">
<head>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="emails-editor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div ng-controller="emailsEditorController as cntr">
        <emails-editor emails="cntr.emails"></emails-editor>

        <div class="buttons">
            <button ng-click="cntr.addRandomEmail()">Add email</button>
            <button ng-click="cntr.getEmailCount()">Get email count</button>
        </div>
    </div>
</body>
</html>